body{
  background-color: #EDEDED; 
}

.navbar{
  max-height: 57px;
  background-color: white;
  font-size: 15px; 
}
.navigation .navbar-brand{
  color: white; 
  margin-left: 30px; 
  padding: inherit; 
  font-weight: bold; 
  background-color: #0BADA6;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
  background-color: white; 
  font-size: 15px; 
}

.vizualization{
width:50%
height: 50%
}
.box {
  margin-top: 60px; 
  margin-bottom: 62px; 
  padding: 10px 20px 15px; 
  color:black;
  background-color: white; 

}
.button{
margin-right: 30px;
}